
<div id="overview">
   <div id="left">
      <a href="/transactions/new"><div id="create-button">
         NEW TRANSACTION
      </div></a>
   </div>
   <div id="right">

      <% if @a %>
      <% @a.each do |category| %>
      <% data = category.values %>
      <div id="categoryblock">
         <div id="categories">
            <!-- Category Name -->
            <div id="catname"><p><%= data[0] %></p></div>
            <!-- Category Total Spent -->
            <div id="cattotal"><p>£<%= data[1] %></p></div>
         </div>

      </div>
      <% end %>

      <% end %>
      <div id="total">
         £<%= @total %>
      </div>
   </div>
</div>
<% @transactions.each do |transaction| %>
<a href="/transactions/<%= transaction.id %>">
<div id="displayblock">
   <div id="transaction">
      <div id="tname" class="tblock"><p><%= transaction.name %></p></div>
      <div id="tamount" class="tblock"><p>£ <%= transaction.amount %></p></div>
      <div id="tamount" class="tblock"><p><%= transaction.category %></p></div>
      <div id="tdate" class="tblock"><p><%= transaction.time_added %></p></div>
   </div>

</div></a>

<% end %>
