<div id="total">
<%= @total %>
</div>

<% @transactions.each do |transaction| %>
<div id="displayblock">
   <div id="transaction">
      <div id="tname" class="tblock"><p><%= transaction.name %></p></div>
      <div id="tamount" class="tblock"><p>£ <%= transaction.amount %></p></div>
      <div id="tdate" class="tblock"><p><%= transaction.time_added %></p></div>
   </div>

</div>

<% end %>

<% if @a %>
<% @a.each do |category| %>
<% data = category.values %>
<div id="displayblock">
   <div id="transaction">
      <p>Category Name: <%= data[0] %></p>
      <p>Category Total: <%= data[1] %></p>
   </div>

</div>
<% end %>

<% end %>
